@import "bootstrap.less";

/* ================== CUSTOMIZE ================== */
@navbar-default-brand-color         : #000;
@line-height-computed               : 0px;
@grid-float-breakpoint              : 1000px;

/* ========== NAVBAR ========= */
@navbar-default-link-color          : #666;
@navbar-default-link-hover-color    : #e03131;
@navbar-default-link-active-color   : #fff;
@nav-link-padding                   : 14px 15px;
@navbar-default-toggle-icon-bar-bg  : #fff;

/* ========== DROPDOWN ========= */
@dropdown-link-color                : #666;
@dropdown-link-hover-color          : #fff;
@dropdown-link-hover-bg             : #FE5214;

/* ========== CAROUSEL ========= */
@carousel-control-width             : 5%;

/* ========== FIELD ========= */
@link-color                         : #fe5214;

body{
    background: url("../images/bodyBg.png") repeat;
}

/* ================== NAVIGATION ================== */
#headerSection{
    background: url("../images/headerbg.png") repeat;
}

    #headerSection .container{
        padding: 0;
    }

    #navigation{
        margin-top: 30px;
        background: none;
    }

        #navigation h1{
            margin: 0;
        }

        #navigation a.navbar-brand{
            font-weight: bold;
            font-size: 28px;
            line-height: 0.3em;
        }

        #navigation ul.nav > li > a{
            background: url("../images/tabRepeatInactive.png") repeat-x #f9f9f9;
            margin: 2px;
            border-radius: 4px 4px 0 0;
            font-weight: bold;
        }

        #navigation ul.nav > li.active > a{
            background: url("../images/tabrepeat.png") repeat-x #d33800;
            font-weight: bold;
        }

        .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
            color: #666;
        }

        #navigation ul.nav > li ul.dropdown-menu{
            border-radius: 4px;
        }

        #navigation button.navbar-toggle{
            background: #d33800;
        }

        @media all and (max-width: @grid-float-breakpoint-max){
            #navigation ul.nav > li > a{
                padding: 17px 12px;
            }

            #navigation ul.nav li ul.dropdown-menu{
                margin: 0 40px;
            }

            #navigation ul.nav li ul.dropdown-menu li a{
                padding: 17px 12px;
                font-weight: bold;
            }                

            #navigation ul.nav li ul.dropdown-menu li a:hover{
                border-radius: 4px;
                color: #fff;
                background: url("../images/tabrepeat.png") repeat-x #d33800;
            }

            #slideSection .carousel-inner .carousel-caption{
                background-color: transparent !important;
            }
        }

/* ================== CAROUSEL ================== */
#slideSection{
    border-top: 4px solid #d33800;
    border-bottom: 4px solid #d33800;
}

    #slideSection .carousel-inner{
        background-color: #000;
    }

    #slideSection .carousel-inner .item img{
        max-height: 290px;
        margin: 0 auto;
    }

    #slideSection .carousel-inner .carousel-caption{
        max-width: 40%;
        text-align: left;
        background-color: #7d1603;
        padding: 1%;
        border-radius: 14px;
        position: absolute;
        top: 20%;
        left: 10%;
    }

    #slideSection .carousel-inner .carousel-caption h2{
        position: absolute;
        top: 2%;
        left: 2%;
    }

    #slideSection .carousel-inner .carousel-caption p{
        position: absolute;
        top: 20%;
        left: 2%;
    }

    #slideSection .carousel-inner .carousel-caption a.btn{
        position: absolute;
        top: 35%;
        left: 2%;
    }

/* ================== FIELD ================== */
#fieldSection{
    background: url("../images/shadow.png") no-repeat bottom center;
    padding: 20px 0;
}

#fieldSection div.title{
    text-align: center;
    margin: 30px auto;
}

    #fieldSection div.title h3{
        font-weight: bold;
        margin-bottom: 5px;
    }

    #fieldSection .col-md-2:hover{
        background: url("../images/smallShadows.png") no-repeat bottom center;
    }

    #fieldSection .col-md-2 .well{
        padding: 0;
        text-align: center;
        height: 135px;
    }

        #fieldSection .col-md-2 .well h4{
            line-height: 50px;
            height: 90px;
            width: 100%;
            background: url("../images/blockRepeat.png") repeat-x 0 #fff;
            border-bottom: 1px solid #ccc;
        }

            #fieldSection .col-md-2 .well h4:hover{
                cursor: pointer;
            }

            #fieldSection .col-md-2 .well h4 i{
                font-size: 2em;
                display: block;
                color: #fe5214;
                padding-top: 10px;
            }

            #fieldSection .col-md-2 .well h4 span{
                font-weight: bold;
            }

        #fieldSection .col-md-2 .well a{
            line-height: 45px;
        }

        .popover-title{
            color: #fe5214;
        }

/* ================== OUR RECENT WORK ================== */
#workSection{
    background: url("../images/shadowsReverse.png") no-repeat top center;
    padding: 30px 0;
    text-align: center;
}

    #workSection .row h3{
        color: #fe5214;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #workSection .thumbnail:hover{
        box-shadow: 3px 3px 10px #888888
    }

/* ================== BANNER ================== */
#bannerSection{
    text-align: center;
    padding: 10px 0;
}

    #bannerSection a{
        margin: 0 8px;
    }

    #bannerSection a img{
        width: auto;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        padding: 2px;
        border: 1px solid #ddd;
    }
















