#box-address .content{
    line-height: 20px;
}

#box-address .content a{
    color: #a19411;
    text-decoration: underline;
}

#box-address .content a:hover{
    text-decoration: none;
}

.area-contact #form{
    float: left;
    width: 390px;
}

.area-contact #map{
    margin-left: 392px;
}

.area-contact #map .map{
    width: 304px;
    height: 360px;
    overflow: hidden;
    margin-top: 44px;
    
}

.area-contact .title{
    font: bold 24px/40px Arial, Helvetica, sans-serif;
}

