*{
    margin: 0;
    padding: 0;
}

.boxA{
    width: 500px;
    height: 230px;
    border: 2px solid #cccccc;
    padding: 20px;
    margin: 20px auto;
}

.boxA h1.title{
    color: red;
}

.boxA div{

}