*{
    margin: 0;
    padding: 0;
}

.box{
    margin: 20px auto;
    padding: 10px;
    border: 2px solid red;
    width: 500px;
    height: 200px;
}

#process{
    margin: 20px auto;
    padding: 3px;
}