*{
    margin: 0;
    padding: 0;
    border: 0;
}

.box{
    margin: 20px auto;
    padding: 10px;
    border: 3px solid red;
    width: 600px;
    height: 100px;
}

.button{
    padding: 7px;
    font-size: 16px;
    border: 1px solid rgb(199, 39, 39);
    background-color: aquamarine;
}

.input{
    padding: 3px;
    border: 2px solid #000;
    font-size: 14px;
}

.list{
    list-style: none inside;
    font-family: Arial, Helvetica, sans-serif;
}

.list li{
    margin-bottom: 7px;
}

.list label{
    display: block;
    padding: 3px 0;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.txtShort{
    width: 200px;
}

.txtMedium{
    width: 400px;
}

.txtLong{
    width: 100%;
}



